<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<!--Loop over the payload variable, which is the list of articles-->
{{range .payload }}
<!--Create the link for the article based on its ID-->
<div class="card" style="width:49.8%;display: inline-block;margin-top: 20px;">
  <div class="card-body">
    <a href="/article/view/{{.ID}}">
      <h4 class="card-title">{{.Title}}</h4>
    </a>
    <p class="card-text">{{.Content}}</p>
  </div>
</div>
{{end}}
<br />
<br />
<br />
<br />
<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}
